


/* index.scss */

.Cabecalhooww {
  width: 100%;
 height: 55px;
  background-color: #781212;
}

.Cabecalhooww img{
  margin-left: 25px;
  width: 50px;
}

.produto-principal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.produtoo {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  height: 400px;
}

.produtoo img {
  max-width: 300px;
  max-height: 200px;
  margin-right: 20px;
}

.informacoes-produto {
  flex: 1;
}

.informacoes-produto h2 {
  margin: 0;
  margin-bottom: 10px;
}

.quantidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.quantidade label {
  margin-bottom: 10px;
}

.quantidade .contador {
  display: flex;
  align-items: center;
}

.quantidade .contador button {
  padding: 5px 10px;
  margin: 0 5px;
}

.botao-comprar {
  background-color: #781212;
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-comprar:hover {
  background-color: #b72929;
}

.produto-container {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

#marca {
  color: #007bff;
  font-weight: bold;
}

#sobre-a-marca {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
}

.atletas {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.lista-atletas {
  margin-top: 10px;
  list-style: disc inside;
}








.faixa-produtos-relacionados {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px 0;
}

.faixa-produtos-relacionados h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.produtos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto-principal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.produtorelacionado {
  width: calc(33.33% - 20px);
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  transition: transform 0.2s; 
}



.produtorelacionado img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.produtorelacionado img:hover {
  transform: scale(1.1); 
}
.produtorelacionado .descricao {
  font-size: 16px;
  margin: 10px 0;
}

.produtorelacionado .preco {
  font-size: 18px;
  color: #ff5733;
}

.rodape {
  width: 100%;
  background-color: #7e7e7e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.rodape-icones {
  font-size: 24px;
  margin: 10px;
}

.rodape-icones i {
  margin: 0 10px;
}

.rodape p {
  font-size: 14px;
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .produtoo {
    flex-direction: column;
  }

  .produtoo img {
    max-width: 100%;
    max-height: auto;
    margin-right: 0;
  }

  .quantidade {
    margin-right: 0;
  }

  .quantidade .contador {
    flex-direction: row;
  }

  .quantidade .contador button {
    margin: 0;
  }
}


@media screen and (max-width: 768px) {
  .produtoo {
    flex-direction: column;
    height: auto;
  }

  .produtoo img {
    max-width: 100%;
    max-height: auto;
    margin-right: 0;
  }

  .informacoes-produto {
    text-align: center;
  }

  .quantidade {
    margin-right: 0;
  }

  .quantidade .contador {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .quantidade .contador button {
    padding: 5px 10px;
    margin: 0 5px;
  }
}


