.Applogin{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


.principal{
  background: linear-gradient(to bottom, #000, #1F4784);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrado{
  background: linear-gradient(to bottom, #1F4784, #000);
  width: 60vw;
  height: 65vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.img{
  background: url(../../assets/images/loginnn.svg);
  flex: 1;
  width: 30vw;
  height: 65vh;
  border-radius: 10px;
  background-size: cover;
  border: 3px solid #000;
}

.login{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  height: 65vh;
}


.formulario-loginn {
  
  color: #ccc;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  border-radius: 15px;
  
}

.social-icons {
  display: flex;
  justify-content: space around;
  margin-top: 30px;
}

.social-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 25px;
}

.login-titlee {
  padding: 10px;
  color: #fff;
  position: absolute;
  top: -82px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 75px;
  border-radius: 5px;
  z-index: 2;
}

.formulario-loginn input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-loginn input[type="textoo"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-loginn button {
  width: 50%;
  padding: 10px;
  background: #2e9fdc;
  margin-bottom: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid #000;
  box-sizing: border-box;
}

.formulario-loginn button:hover {
  background-color: #073f62;
}

.custom-link {
  text-align: center;
  margin-top: -20px;
}

.custom-link a {
  color: white;
  text-decoration: none;
  font-size: 10px;
}

.custom-link a:hover {
  text-decoration: underline;
}

.A{
  display: flex;
  justify-content: end;
  align-items: end;

}

}